    <div class="faq-header">F. A. Q.</div> 
    <div class="text_wrapper">
        <div class="faq-section-header">1. Куда мне нужно отправить мою вещь после подтверждения покупки?</div> 
        <div class="faq-section-text">Посылку необходимо отправить курьерской службой СДЭК в пункт выдачи по адресу:
        <br> <br>
        г. Москва, Ул. Озерная, 2к1 (Код ПВЗ: MSK362)
        +7 (495) 006-92-39
        <br><br>
        Если вы проживаете в другой стране,то обращайтесь к администрации сайта и действуйте по их указаниям.
        <br><br>
        Также вы можете привезти вещь в офис самостоятельно в наш офис по адресу: г. Москва, Варшавское шоссе 1с1. Бизнес-центр “W PLAZA”, красное кирпичное здание. Вещь можно оставить в любое время на ресепшн бизнес-центра. Пожалуйста, вложите в коробку лист с Вашим e-mail и номером лота.
        <br><br>
        Если отправляете кроссовки, не забудьте, пожалуйста, позаботиться об упаковке, чтобы коробка не
        повредилась в процессе транспортировки.
        <br > <br >
        Если вы находитесь в Москве, вы можете принести кроссовки лично к нам в офис. Для этого напишите нам на
        почту support@outofstock.cc с пометкой «Хочу передать кроссовки лично». В ответном письме мы отправим
        вам адрес и время, в которое мы сможем принять ваш товар.
        </div> 
        <div class="faq-section-header">2. Мне не приходит письмо для подтверждения аккаунта после регистрации на сайте.
        </div> 
        <div class="faq-section-text">Письмо для активации аккаунта должно прийти в течение 30 минут после
    регистрации на указанный вами электронный адрес, однако из-за большого количества регистраций некоторые
    письма не дошли до своих получателей. Если в течение 30 минут после регистрации вы не получили письмо с
    ссылкой для активации аккаунта (не забудьте проверить спам), напишите пожалуйста нам об этом на почту
    support@outofstock.cc с пометкой «Проблемы с регистрацией» и укажите в письме ваш почтовый адрес.
        </div> 
        <div class="faq-section-header">3. Я считаю, что мне прислали фейк, что делать?</div> 
        <div class="faq-section-text">В случае если вы уверены, что купленная вами на платформе вещь пришла
    неоригинальная, вы можете написать нам об этом на почту support@outofstock.cc и отправить кроссовки
    обратно в наш офис. Мы ведем базу с фотографиями всех проданных кроссовок, и после того, как убедимся,
    что это именно те кроссовки, которые мы вам выслали, мы проведем повторную экспертизу на оригинальность.
    Если кроссовки действительно окажутся неоригинальными, мы возместим вам полную стоимость кроссовок и все
    затраты на доставку.
        </div> 
        <div class="faq-section-header">4. В какие регионы вы осуществляете доставку?</div> 
        <div class="faq-section-text">Доставка осуществляется по всему миру без ограничений.
        </div> 
        <div class="faq-section-header">5. Будет ли приложение для телефонов?</div> 
        <div class="faq-section-text">Да, работа над приложением уже ведется, однако на данный момент сервис
            доступен только в формате сайта по адресу https://outofstock.cc/
        </div> 
        <div class="faq-section-header">6. Сколько будет длиться доставка?</div> 
        <div class="faq-section-text">
            Количество дней доставки уточняйте у администратора
        </div> 
    </div>
