    <div class="faq-header">F. A. Q.</div> 
    <div class="text_wrapper">
        <div class="faq-section-header">{{ langs.pagesWrapper.faqAnsHeader1 }}</div> 
        <div class="faq-section-text">{{ langs.pagesWrapper.faqAns1p1 }}
        <br> <br>
        {{ langs.pagesWrapper.faqAns1p2 }}
        <br><br>
        {{ langs.pagesWrapper.faqAns1p3 }}
        <br><br>
        {{ langs.pagesWrapper.faqAns1p4 }}
        <br><br>
        {{ langs.pagesWrapper.faqAns1p5 }}
        <br> <br>
        {{ langs.pagesWrapper.faqAns1p6 }}
        </div> 
        <div class="faq-section-header">{{ langs.pagesWrapper.faqAnsHeader2 }}</div> 
        <div class="faq-section-text">
            {{ langs.pagesWrapper.faqAns2p1 }}
        </div> 
        <div class="faq-section-header">{{ langs.pagesWrapper.faqAnsHeader3 }}</div> 
        <div class="faq-section-text">
            {{ langs.pagesWrapper.faqAns3p1 }}
        </div> 
        <div class="faq-section-header">{{ langs.pagesWrapper.faqAnsHeader4 }}</div> 
        <div class="faq-section-text">
            {{ langs.pagesWrapper.faqAns4p1 }}
        </div> 
        <div class="faq-section-header">{{ langs.pagesWrapper.faqAnsHeader5 }}</div> 
        <div class="faq-section-text">
            {{ langs.pagesWrapper.faqAns5p1 }}
        </div> 
    </div>
