<div class="model-wrapper">
    <div class="model-view-description">


        <div class="model-view-scroll">
            <div class="img-grid">
                <div class="model-img" *ngFor="let img of modelData?.imgs">
                    <img [src]="img" alt="">
                </div>
            </div>
        </div>


        <div class="desc">
            <div class="desc-info">
                <div>
                    <div class="desc-brand">{{ modelData?.brand }}</div>
                    <div class="desc-model">{{ modelData?.model }}</div>
                </div>
                <div class="desc-sku">
                    {{ langs.pagesWrapper.modelVendorCode }}
                    {{ modelData?.id }}
                </div>
                <div class="desc-price">
                    <div>
                        19 500
                        <span>₽</span>
                    </div>
                </div>
                <div class="button-buy"
                    (click)="openSizesAlert()"
                >
                    {{ langs.pagesWrapper.modelPayButton }}
                </div>
            </div>
        </div>
    </div>

    <div class="model-view-more">
        <div>
            <span>{{ langs.pagesWrapper.learnMore }}</span>
        </div>
    </div>


    <div class="model-view-info-summary">
        <div class="model-view-info-content">
            <div>{{ modelData?.brand }}</div>
            <div>{{ langs.pagesWrapper.modelBrand }}</div>
        </div>
        <div class="model-view-info-content">
            <div>{{ modelData?.model }}</div>
            <div>{{ langs.pagesWrapper.modelModel }}</div>
        </div>
        <div class="model-view-info-content">
            <div>{{ modelData?.colors }}</div>
            <div>{{ langs.pagesWrapper.modelColoring }}</div>
        </div>
        <div class="model-view-info-content">
            <div>{{ modelData?.releaseDate }}</div>
            <div>{{ langs.pagesWrapper.modelReliaseDate }}</div>
        </div>
    </div>


    <div class="new-items">
        <app-carousel
            [title]="langs.pagesWrapper.modelYouWillLike"
            [cardsData]="youMayBeInterestedData"
        >
        </app-carousel>
    </div>


    <div class="model-view-info-links">
        <div class="model-view-info-link">
            <app-model-info-link
                (click)="openAlertWindow(0)"
                [title]="langs.pagesWrapper.pay"
                img="./assets/card.svg"
            ></app-model-info-link>
        </div>
        <div class="model-view-info-link">
            <app-model-info-link
                (click)="openAlertWindow(1)"
                [title]="langs.pagesWrapper.deliveryAndReturns"
                img="./assets/box.svg"
            ></app-model-info-link>
        </div>
        <div class="model-view-info-link">
            <app-model-info-link
                (click)="openAlertWindow(2)"
                [title]="langs.pagesWrapper.guarantees"
                img="./assets/shield-tick.svg"
            ></app-model-info-link>
        </div>
        <div class="model-view-info-link">
            <app-model-info-link
                (click)="openAlertWindow(3)"
                [title]="langs.pagesWrapper.support"
                img="./assets/support.svg"
            ></app-model-info-link>
        </div>
    </div>
</div>
<app-full-screen-banner
    *ngIf="isAlertOpen" 
    (onClose)="closeAlertWindow($event)"
>
    <app-faq-contacts *ngIf="arrayIndex === 0 && !isSizesOpen"></app-faq-contacts>
    <app-faq-delivery *ngIf="arrayIndex === 1 && !isSizesOpen"></app-faq-delivery>
    <app-faq-guarantee *ngIf="arrayIndex === 2 && !isSizesOpen"></app-faq-guarantee>
    <app-faq-contacts *ngIf="arrayIndex === 3 && !isSizesOpen"></app-faq-contacts>
    <app-model-sizes *ngIf="isSizesOpen" [sizes]="modelData?.sizePrice"></app-model-sizes>
</app-full-screen-banner>