<div class="order-wrapper">
    <div class="order-title">{{ langs.pagesWrapper.orderPageHeader }}</div>
    
    <form class="order-form" [formGroup]="checkoutForm" (ngSubmit)="handleSubmit()">
        <div class="order-form-section">
            <div class="order-header">{{ langs.pagesWrapper.orderContacts }}</div>
    
            <div class="order-contacts-grid">
                <div class="input-wrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ langs.pagesWrapper.orderFullName }}</mat-label>
                        <input matInput formControlName="fullName" type="text">
                    </mat-form-field>
                </div>
        
                <div class="input-wrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email">
                    </mat-form-field>
                </div>
        
                <div class="input-wrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ langs.pagesWrapper.orderPhoneNumber }}</mat-label>
                        <input matInput formControlName="phoneNumber" type="tel">
                    </mat-form-field>
                </div> 
            </div>
    
            <div class="order-header">{{ langs.pagesWrapper.orderAddressHeader }}</div>
    
            <div class="input-wrapper">
                <mat-form-field appearance="fill" class="address-input">
                    <mat-label>{{ langs.pagesWrapper.orderAddress }}</mat-label> 
                    <input 
                        matInput 
                        type="text" 
                        (input)="handleAddressChange()" 
                        formControlName="fullAddress"
                        [matAutocomplete]="auto"
                    >
                    <mat-hint>{{ langs.pagesWrapper.orderPostalCode }}</mat-hint>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of addressHints" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="order-submit-wrapper lg-button">
                <button type="submit">{{ langs.pagesWrapper.orderContinue }}</button>
            </div>  
        </div>
        <div class="order-form-section">
            <div class="order-image-wrapper">
                <img [src]="modelImg" alt="model">
                <div class="order-header">{{ langs.pagesWrapper.orderModelDescription }}</div>
                <div class="order-descr-grid">
                    <div class="order-descr-row">
                        <p>{{ langs.pagesWrapper.orderModelName }}</p>
                        <p>{{ model?.brand + ' ' + model?.model + ' ' + model?.colors }}</p>
                    </div>
                    <div class="order-descr-row">
                        <p>{{ langs.pagesWrapper.modelReliaseDate }}</p>
                        <p>{{ model?.releaseDate }}</p>
                    </div>
                    <div class="order-descr-row">
                        <p>{{ langs.pagesWrapper.orderSizeAndPrice }}</p>
                        <p>{{ size + ' | ' + price }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-submit-wrapper xs-button">
            <button type="submit">Продолжить</button>
        </div> 
    </form>
</div>
