$gridMediaShift: 800px;

.order-wrapper {
    padding: 20px 5%;

    .order-title {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 40px;

        @media screen and (max-width: $gridMediaShift) {
            & {
                font-size: 24px;
            }
        }
    }
    
    .order-form {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $gridMediaShift) {
            & {
                grid-template-columns: 1fr;
            }
        }

        .order-form-section {
            width: 100%;
        }

        .order-header {
            font-size: 16px;
            margin-bottom: 20px;
        }
        
        .order-contacts-grid {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            @media screen and (max-width: 576px) {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
    

    .order-image-wrapper {
        padding: 0 5%;

        img {
            width: 100%;
            margin-bottom: 10px;
        }

        .order-descr-grid {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .order-descr-row {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #000;
                font-size: 14px;

                p:first-child {
                    text-align: left;
                }

                p:last-child {
                    text-align: right;
                }
            }
        }
    }

    .order-submit-wrapper {
        display: flex;
        justify-content: center;

        button {
            display: block;
            margin: 0 auto;
            min-width: 33%;
            cursor: pointer;
            padding: 1em 2em;
            font-size: 14px;
            letter-spacing: 0;
            text-align: center;
            border: 1px solid #0ABAB5;
            border-radius: 3px;
            transition: all 0.3s;
            background-color: #0ABAB5;
            color: white;
            margin-top: 20px;
            text-decoration: none;
        }

        &.lg-button {
            display: block;
        }

        &.xs-button {
            display: none;
        }

        @media screen and (max-width: $gridMediaShift) {
            &.lg-button {
                display: none;
            }
            &.xs-button {
                display: block;
            }
        }
    }
}






::ng-deep .mat-form-field  {
    width: 100% !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #0abab5 !important;
}
  
::ng-deep.mat-form-field-underline {
    background-color: #0abab5 !important;
} 
  
::ng-deep.mat-form-field-ripple {
   background-color: #0abab5 !important;
}