.search-grid-wrapper {
    position: relative;
    min-height: 100vh;
    background-color: #fff;    

    .catalog-wrapper {
        padding: 10px 5%;
        // height: 100px;
        // margin-bottom: 100px;   
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media screen and (max-width: 768px) {
            & {
                grid-template-columns: 1fr 1fr;
                padding: 10px 0;
            }
            
        }
    }
}