<div class="filters-block">
    <div class="filter-in-stock">
        <div class="filter-button"
            (click)="resetFilters()"
        >
            Сбросить фильтры
        </div>
        <span>
            Показывать только товары, которые есть в наличии
        </span> 
    </div>
    <div class="filter-size">
        <div class="filter-size-title">Размер</div>
        <div class="filter-size-grid">
          
          <div 
            class="filter-size-option" 
            *ngFor="let item of sizesArray"
            [attr.data-active]="sizeActiveMap.get(item)"
            (click)="toggleActive(item)"
            >
            {{ item }}
          </div>
        </div>
    </div>
    <div class="filter-search">
      <div class="filter-search-title">Модели</div>
      <input type="text" [(ngModel)]="searchString" placeholder="Поиск">
    </div>
    <div>
      <div class="filter-button-results"
            (click)="searchItems()"
        >
            Показать результаты
        </div>
    </div>
</div>
