<div class="filters-block">
    <div class="filter-in-stock">
        <div class="filter-button"
            (click)="resetFilters()"
        >
            {{ langs.pagesWrapper.resetFilters }}
        </div>
        <!-- <span>
            Показывать только товары, которые есть в наличии
        </span>  -->
    </div>
    <div class="filter-size">
        <div class="filter-size-title">{{ langs.pagesWrapper.filterSize }}</div>
        <div class="filter-size-grid">
          
          <div 
            class="filter-size-option" 
            *ngFor="let item of sizesArray"
            [attr.data-active]="sizeActiveMap.get(item)"
            (click)="toggleActive(item)"
            >
            {{ item }}
          </div>
        </div>
    </div>
    <div class="filter-search">
      <div class="filter-search-title">{{ langs.pagesWrapper.filterModels }}</div>
      <input type="text" [(ngModel)]="searchString" [placeholder]="langs.pagesWrapper.filtersSearch">
    </div>
    <div>
      <div class="filter-button-results"
            (click)="searchItems()"
        >
        {{ langs.pagesWrapper.filterShowRes }}
        </div>
    </div>
</div>
