<div class="filters-block">
    <div class="filter-in-stock">
        <div class="filter-button"
            
        >
            Есть в наличии
        </div>
        <span>
            Показывать только товары, которые есть в наличии
        </span> 
    </div>
    <div class="filter-size">
        <div class="filter-size-title">Размер</div>
        <div class="filter-size-grid">
            <div class="filter-size-option">
            US 3
          </div>
          <div class="filter-size-option">
            US 3.5
          </div>
          <div class="filter-size-option">
            US 4
          </div>
          <div class="filter-size-option">
            US 4.5
          </div>
          <div class="filter-size-option">
            US 5
          </div>
          <div class="filter-size-option">
            US 5.5
          </div>
          <div class="filter-size-option">
            US 6
          </div>
          <div class="filter-size-option">
            US 6.5
          </div>
          <div class="filter-size-option">
            US 7
          </div>
          <div class="filter-size-option">
            US 7.5
          </div>
          <div class="filter-size-option">
            US 8
          </div>
          <div class="filter-size-option">
            US 8.5
          </div>
          <div class="filter-size-option">
            US 9
          </div>
          <div class="filter-size-option">
            US 9.5
          </div
          ><div class="filter-size-option">
            US 10
          </div>
          <div class="filter-size-option">
            US 10.5
          </div>
          <div class="filter-size-option">
            US 11
          </div>
          <div class="filter-size-option">
            US 11.5
          </div>
          <div class="filter-size-option">
            US 12
          </div>
          <div class="filter-size-option">
            US 12.5
          </div>
          <div class="filter-size-option">
            US 13
          </div>
          <div class="filter-size-option">
            US 13.5
          </div>
          <div class="filter-size-option">
            US 14
          </div>
          <div class="filter-size-option">
            US 14.5
          </div>
          <div class="filter-size-option">
            US 15
          </div>
          <div class="filter-size-option">
            US 15.5
          </div>
          <div class="filter-size-option">
            US 16
          </div>
          <div class="filter-size-option">
            US 16.5
          </div>
          <div class="filter-size-option">
            US 17
          </div>
        </div>
    </div>
    <div class="filter-search">
      <div class="filter-search-title">Модели</div>
      <input type="text" placeholder="Поиск">
    </div>
    <div>
      <div class="filter-button-results"
            
        >
            Показать результаты
        </div>
    </div>
</div>
