<div class="faq-header">Гарантии оригинальности</div> 
    <div class="text-wrapper">
        <p>Все вещи, купленные на øutofstock, являются оригинальными и новыми. Каждая вещь проходит через наш офис, где
            проверяется двумя независимыми командами на подлинность и отсутствие признаков ношения. После успешного
            прохождения всех проверок, мы крепим на каждую вещь специальную пломбу “øutofstock verified”, которая
            является гарантией оригинальности товара.
        </p> 
        <p>Все вещи проверяются настоящими профессионалами – командой <a href="https://vk.com/legitfam">LegitFam</a>. Мы очень кропотливо подходим к своей
            работе, чтобы вы могли быть уверены, что приобретаете подлинную продукцию.
        </p> 
        <p>В случае, если вы считаете, что получили поддельный товар, пожалуйста, незамедлительно свяжитесь с нами. Мы
            рассматриваем каждое обращение в индивидуальном порядке, если на товаре присутствует пломба “øutofstock
            verified”. Если вы сомневаетесь в подлинности полученного товара, вы можете отправить его к нам назад на
            перепроверку с пояснением, что именно по вашему мнению указывает на неоригинальность товара. В случае, если
            повторная проверка покажет, что товар действительно поддельный – мы вернем вам стоимость покупки в полном
            объеме, а также возместим все расходы на пересылку товара для перепроверки.
        </p>
    </div>