<div class="sizes-wrapper">
    <div class="size-price-section">
        <div class="title">
            {{ langs.pagesWrapper.sizeHeader }}
        </div>
        <div class="sizesGrid">
            <div 
                class="size-grid-item" 
                *ngFor="let size of sizesToView" 
                (click)="handleSelectSize(size)"
                [class.active]="selectedSize === size"
            >
                <div class="size-grid-item-title"> {{ size }} </div>
                <div class="size-grid-item-price">
                    <div *ngIf="sizes[size] === '' else price">{{ langs.pagesWrapper.sizeHeaderAdmin }}</div>
                    <ng-template #price>
                        <div>{{ sizes[size] }}</div>
                    </ng-template>
                </div>
            </div>
        </div>    
    </div>

    <div>
        <!-- <div class="header">
            {{ langs.pagesWrapper.avaluableSizes }}
        </div> -->
        
        <div class="contacts-button">
            <p (click)="navigateToOrder()">
                {{ langs.pagesWrapper.modelPayButton }}
            </p>
        </div>
    </div>
</div>
