.faq-header {
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    padding: 5%;
    text-transform: uppercase;
}

.text-wrapper {
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 110px;

    div {
        margin-left: 40px;
    }
}