<div class="faq-header">
    {{ langs.pagesWrapper.deliveryAndReturns }}
</div>
<div class="text-wrapper">
    <p>После того, как вы оформили свой заказ, продавец подтверждает сделку и отправляет товар на экспертизу øutofstock. Когда мы подтвердим подлинность и качество вещи, мы отправим ее вам. Вы можете отслеживать статус доставки в личном кабинете.</p> 
    <p>Процесс доставки состоит из двух этапов:</p> 
    <div class="tab">- от продавца до офиса øutofstock;</div> 
    <div class="tab">- от офиса øutofstock до покупателя.</div> 
    <p>Расчет сроков и стоимости доставки проходит индивидуально и зависит от того, насколько далеко
    продавец находится от покупателя.</p> 
    <p>При расчете сроков и стоимости доставки учитывается прибытие товара на склад øutofstock,
    экспертиза его оригинальности (аутентичности) и доставка товара покупателю.</p> 
    <p>Доставка осуществляется только внутри РФ курьерской службой СДЭК.</p> 
    <p>Компания øutofstock является площадкой для перепродаж вещей между частными лицами (а не
    магазином) и выполняет роль гаранта качества и безопасности сделки, в связи с чем возврат
    качественных товаров не предусмотрен.</p>
</div>
