<div class="faq-header">
    {{ langs.pagesWrapper.deliveryAndReturns }}
</div>
<div class="text-wrapper">
    <p>{{ langs.pagesWrapper.delAndReturns1 }}</p> 
    <div class="tab">{{ langs.pagesWrapper.delAndReturns2 }}</div> 
    <div class="tab">{{ langs.pagesWrapper.delAndReturns3 }}</div> 
    <div class="tab">{{ langs.pagesWrapper.delAndReturns4 }}</div> 
    <div class="tab">{{ langs.pagesWrapper.delAndReturns5 }}</div> 
    <p>{{ langs.pagesWrapper.delAndReturns6 }}</p> 
    <p><b>{{ langs.pagesWrapper.delAndReturns7 }}</b></p> 
    <p>{{ langs.pagesWrapper.delAndReturns8 }}</p> 
</div>
