<div>
    <nav>
        <div class="header-wrapper">
            <div class="logo" (click)="hideSearchGrid()">
                <a [routerLink]="['/']">
                    <img src="assets/logo.jpg" alt>
                </a>
            </div>
            <div class="header-menu">
                <a (click)="hideSearchGrid()" [routerLink]="['/catalog']" [routerLinkActive]="['link-active']" class="menu-item">{{ pageText?.catalog }}</a>
                <a [routerLink]="['reviews']" [routerLinkActive]="['link-active']" class="menu-item">{{ pageText?.reviews }}</a>
                <a [routerLink]="['/faq', 'guarantee']" [routerLinkActive]="['link-active']" class="menu-item">{{ pageText?.guarantees }}</a>
                <a [routerLink]="['/faq', 'contacts']" [routerLinkActive]="['link-active']" class="menu-item">{{ pageText?.contacts }}</a>
                <div class="menu-item">
                    <img src="assets/translate.svg" alt (click)="toggleTranslateMenu()" #translateButton>
                    <div 
                        class="languages-list"
                        *ngIf="isTranslateOpen"
                        #translateList
                    >
                        <div class="languages-list-item"
                            (click)="translateToUS()"
                        >
                            <img src="assets/usa.png" alt>    
                            English
                        </div>
                        <div class="languages-list-item"
                            (click)="translateToNL()"
                        >
                            <img src="assets/holland.png" alt>
                            Nederlands
                        </div>
                        <div class="languages-list-item"
                            (click)="translateToFR()"
                        >
                            <img src="assets/france.png" alt>
                            français
                        </div>
                        <div class="languages-list-item"
                            (click)="translateToIT()"
                        >
                            <img src="assets/Italy.png" alt>
                            italiano
                        </div>
                        <div class="languages-list-item"
                            (click)="translateToRU()"
                        >
                            <img src="assets/rf.png" alt>
                            Русский
                        </div>
                    </div>
                </div>
                <div class="menu-item menu-img"
                    (click)="toggleSearchBar()"
                >
                    <img src="assets/search.svg" alt>
                </div>
                <div class="menu-item">
                    <div class="humburger" (click)="toggleMenu()">
                        <div class="humburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isMenuOpen || (isSearchBarOpen && !isSearchGridOpen)"
        @backgroundRemoveTrigger
        class="menu__absolute"
        [ngClass]="{
            searchOpen: isSearchBarOpen,
            gridShows: isSearchGridOpen
        }"
        (click)="close()"
        ></div>
        <menu 
            class="menu"
            *ngIf="isMenuOpen"
            @menuRemoveTrigger
        >
            <a [routerLink]="['/catalog', 'shoes']" (click)="hideSearchGrid()" class="menu__point" (click)="close()"><label for="">{{ pageText?.shoues }}</label></a>
            <a [routerLink]="['/catalog', 'clothes']" (click)="hideSearchGrid()" class="menu__point" (click)="close()"><label for="">{{ pageText?.clothes }}</label></a>
            <a [routerLink]="['/catalog', 'accessories']" (click)="hideSearchGrid()" class="menu__point" (click)="close()"><label for="">{{ pageText?.accessories }}</label></a>
            <a [routerLink]="['reviews']" (click)="hideSearchGrid()" class="menu__point" (click)="close()"><label for="">{{ pageText?.reviews }}</label></a>
            <a [routerLink]="['faq', 'guarantee']" (click)="hideSearchGrid()" class="menu__point" (click)="close()"><label for="">{{ pageText?.guarantees }}</label></a>
            <a [routerLink]="['faq', 'contacts']" (click)="hideSearchGrid()" class="menu__point" (click)="close()"><label for="">{{ pageText?.contacts }}</label></a>
            <div class="menu__text">
                {{ pageText?.menuText1 }}
                <br>
                {{ pageText?.menuText2 }}
            </div> 
            <div class="menu-social">
                <div class="links-grid">
                    <div class="row">
                        <div>
                            <a href="https://www.instagram.com/mokiseller/">
                                <img src="./assets/icon-instagram.svg" alt>
                            </a>
                            <span class="title">{{ pageText?.linkInst2 }}</span>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/resell_point_/">
                                <img src="./assets/icon-instagram.svg" alt>
                            </a>
                            <span class="title">{{ pageText?.linkInst1 }}</span>
                        </div>
                    </div>
                </div>
            </div>            
        </menu>
        <div class="search-box"
            *ngIf="isSearchBarOpen"
            @searchBarRemoveTrigger
            [ngClass]="{
                relative: isSearchGridOpen  
            }"
        >
            <input 
                #searchBar 
                (input)="onSearchChanges($event)"
                type="text" 
                [placeholder]="pageText?.searchPlaceholder" 
                class="search-line"
                [(ngModel)]="searchText"
            >
        </div>
    </nav>

    <app-search-grid 
        *ngIf="isSearchGridOpen else router"
        @searchGridRemoveTrigger
    >
        <app-app-card-item
            *ngFor="let item of searchItems"
            (click)="hideSearchGrid()"
            [cardData]="item"    
        ></app-app-card-item>
    </app-search-grid>
    <ng-template #router>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </ng-template>

    <footer>
        <div class="footer-header">
            <div class="footer-header-logo">
                Resell Point
            </div>
            <div class="footer-header-email">
                <a href="mailto:resellpoint@list.ru">resellpoint@list.ru</a>
            </div>
        </div>
        <div class="footer-email">
            <a href="mailto:resellpoint@list.ru">resellpoint@list.ru</a>
        </div>
        <div class="footer-sections">
            <div class="footer-section-header-wrapper">
                <div>{{ pageText?.catalog }}</div>
                <div class="footer-platform">{{ pageText?.platform }}</div>
            </div>
            <div class="footer-sections-wrapper">
                <div class="footer-section">
                    <a (click)="hideSearchGrid()" [routerLink]="['/catalog', 'shoes']" class="footer-item">{{ pageText?.shoues }}</a>
                    <a (click)="hideSearchGrid()" [routerLink]="['/catalog', 'clothes']" class="footer-item">{{ pageText?.clothes }}</a>
                    <a (click)="hideSearchGrid()" [routerLink]="['/catalog', 'accessories']" class="footer-item">{{ pageText?.accessories }}</a>
                </div>
                <div class="footer-platform-mobile">{{ pageText?.platform }}</div>
                <div class="footer-section">
                    <a (click)="hideSearchGrid()" [routerLink]="['faq/answers']" class="footer-item">{{ pageText?.howItWorks }}</a>
                    <a (click)="hideSearchGrid()" [routerLink]="['faq/delivery']" class="footer-item">{{ pageText?.deliveryAndReturns }}</a>
                    <a (click)="hideSearchGrid()" [routerLink]="['faq/contacts']" class="footer-item">{{ pageText?.pay }}</a>
                </div>
                <div class="footer-section">
                    <a (click)="hideSearchGrid()" [routerLink]="['reviews']" class="footer-item">{{ pageText?.reviews }}</a>
                    <a (click)="hideSearchGrid()" [routerLink]="['faq/guarantees']" class="footer-item">{{ pageText?.guarantees }}</a>
                    <a (click)="hideSearchGrid()" [routerLink]="['faq/contacts']" class="footer-item">{{ pageText?.contacts }}</a>
                </div>
            </div>
        </div>
        <div class="footer-footer">
            <div class="footer-ooo">
                <span>2018-2022 // "RESELL POINT"</span>
                <div class="section-social">
                    <a href="https://www.instagram.com/mokiseller/" class="social-button">
                        <svg class="instagram-logo" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
		                    <path fill="white" id="XMLID_17_" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722 c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156 C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156 c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722 c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>
		                    <path id="XMLID_81_" fill="white" d="M275.517,133C196.933,133,133,196.933,133,275.516 s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6 c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083 C362.6,323.611,323.611,362.6,275.517,362.6z"/>
		                    <circle id="XMLID_83_" fill="white" cx="418.306" cy="134.072" r="34.149"/>
                        </svg>
                    </a>
                    <a href="https://vk.com/sneakerlook" class="social-button">
                        <svg x="0px" y="0px" viewBox="0 0 14.171 14.171" xml:space="preserve"><path fill="white" d="M13.268,0H0.905C0.405,0,0,0.405,0,0.904v12.363c0,0.499,0.405,0.904,0.905,0.904h12.362
                            c0.499,0,0.904-0.405,0.904-0.904V0.904C14.172,0.404,13.767,0,13.268,0z M11.755,8.635c0.259,0.264,0.821,0.707,0.719,1.158
                            c-0.094,0.414-0.712,0.263-1.312,0.287c-0.685,0.029-1.091,0.044-1.503-0.287C9.465,9.636,9.351,9.45,9.165,9.242
                            C8.996,9.054,8.783,8.717,8.493,8.73C7.972,8.756,8.135,9.482,7.95,9.977c-2.896,0.456-4.059-1.333-5.085-3.069
                            C2.368,6.067,1.65,4.261,1.65,4.261l2.048-0.007c0,0,0.657,1.195,0.831,1.503c0.148,0.262,0.311,0.47,0.479,0.704
                            c0.141,0.194,0.364,0.574,0.608,0.543c0.397-0.051,0.469-1.591,0.223-2.107C5.741,4.688,5.506,4.615,5.263,4.544
                            C5.345,4.026,7.56,3.918,7.918,4.32c0.52,0.584-0.36,2.21,0.352,2.684c1-0.524,1.854-2.718,1.854-2.718l2.398,0.015
                            c0,0-0.375,1.186-0.768,1.712c-0.229,0.308-0.989,0.994-0.959,1.503C10.819,7.919,11.437,8.311,11.755,8.635z"></path></svg>
                    </a>
                </div>
            </div>

            <div class="footer-banks">
                <a href="https://paykeeper.ru/">
                    <img src="assets/logoPaykeeper.png">
                </a>
            </div>

            <div class="footer-companies">
                <a href="https://www.dartagency.ru/">
                    <img src="assets/dart.svg">
                </a>
            </div>
        </div>
    </footer>
</div>