$zIndex: 10;
$appbarHeight: '65px';

@mixin hamburger-inner-elems {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
}

nav {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: $zIndex;
    background-color: #fff;

    .header-wrapper {
        width: 90%;
        padding: 0 5%;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        background: white;
        z-index: $zIndex + 2;

        .logo {
            // font-weight: 100;
            // font-size: 27px;
            // color: black;
            // letter-spacing: 0;
            cursor: pointer;
            width: auto;
            height: 65px;
            position: relative;


            img {
                width: auto;
                height: 65px;
            }
        }

        a {
            text-decoration: none;
            color: black;
        }

        .header-menu {
            @media screen and (max-width: 768px) {
                & a {
                    display: none;
                }
            }

            .link-active {
                color: #0abab5;
            }

            margin: 0;
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            align-items: center;
            justify-content: flex-end;

            .menu-item {
                margin-left: 60px;
                font-size: 11px;
                cursor: pointer;
                position: relative;

                .languages-list {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 120px;
                    height: 150px;
                    padding: 10px;
                    top: 30px;
                    right: 0;
                    transform: translateX(50%);
                    background-color: #fff;
                    box-shadow: 0px 4px 12px 1px rgba(34, 60, 80, 0.31);

                    .languages-list-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        border-bottom: #e5e5e5;
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        img {
                            width: 20px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            @media screen and (max-width: 900px) {
                .menu-item {
                    margin-left: 45px;
                }
            }

            @media screen and (max-width: 768px) {
                .menu-item {
                    margin-left: 30px;
                }
            }

            .humburger {
                position: relative;
                display: block;
                width: 13px;
                height: 13px;
                cursor: pointer;
            }

            .humburger-inner::after {
                @include hamburger-inner-elems();
                top: 3px;
            }

            .humburger-inner::before {
                @include hamburger-inner-elems();
                bottom: 3px;

            }
        }
    }

    .menu__absolute {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        overflow: hidden;
        margin: 0;
        z-index: 50;

        &.searchOpen {
            z-index: 5;
        }

        &.gridShows {
            z-index: 50 !important;
        }
    }

    .menu {
        display: block;
        min-width: 300px;
        width: 25%;
        background: white;
        position: fixed;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
        z-index: 100;
        height: 100vh;
        overflow-x: scroll;
        transition: all .3s ease-out;

        &.active {
            display: inline-block;
            min-width: 300px;
            width: 25%;
        }

        .menu__point {
            padding: 20px;
            box-sizing: border-box;
            border-bottom: 2px solid #e5e5e5;
            // font-family: HelveticaNeueCyrMedium, sans-serif;
            font-size: 14px;
            color: #000000;
            letter-spacing: 0;
            text-decoration: none;
            display: block;

            label {
                cursor: pointer;
                position: relative;
            }

            label::after {
                display: block;
                content: '';
                position: absolute;
                left: 0px;
                width: 0%;
                bottom: -3px;
                height: 1px;
                background: black;
                transition: width 0.25s ease-in-out 0s;
            }

            label:hover::after {
                width: 100%;
            }
        }

        .menu__text {
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            letter-spacing: 0;
            padding: 80px 20px 25px;
            box-sizing: border-box;
        }

        .menu-social {
            padding: 0 20px;
            display: flex;
            flex-direction: row;

            .section-social {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .social-button {
                    width: 50px;
                    height: 50px;
                    background: rgba(0, 0, 0, 0.20);
                    border-radius: 5px;
                    margin-right: 15px;
                    position: relative;
                    text-decoration: none;
                    cursor: pointer;
                }
        
                .social-button svg {
                    position: relative;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 50%;
                }
            }
        }
    }

    .search-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #e5e5e5;
        top: $appbarHeight;
        margin: 0;
        position: fixed;
        width: 100%;
        padding: 20px 0 20px;
        background-color: white;
        z-index: $zIndex;
        transition: top .3s;
        
        &.relative {
            position: relative !important;
        }
    
        .search-line {
            flex-grow: 1;
            margin: 0 5% 0;
            padding: 15px;
            border: 1px solid #e5e5e5;
        }
    }
}



footer {
    background-color: #000;
    padding: 0 5%;
    position: relative;

    @media screen and (max-width: 768px) {
        .footer-email {
            display: block;
            font-size: 18px;
            letter-spacing: 0.5px;
            margin: 30px 0px 0px;
            text-align: left;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .footer-header {
            padding: 30px 0px;
        }
    }

    @media screen and (min-width: 769px) {
        .footer-email {
            display: none;
        }

        .footer-header {
            padding-top: 100px;
            padding-bottom: 80px;
        }
    }

    .footer-header {
        border-bottom: 1px solid rgba($color: #fff, $alpha: .4);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            .footer-header-email {
                display: none;
            }
        }

        .footer-header-email {
            font-size: 18px;
            letter-spacing: 0.5px;
            text-align: right;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .footer-header-logo {
            font-size: 36px;
            color: white;
            letter-spacing: 0;
        }
    }

    .footer-sections {
        padding-top: 80px;

        @media screen and (max-width: 768px) {
            .footer-section {
                margin: 0 !important;
                width: 100%;
                text-align: left !important;


            }

            & {
                padding-top: 30px;
            }
        }

        .footer-section-header-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            div {
                text-transform: uppercase;
                color: #fff;
            }

            @media screen and (max-width: 768px) {
                .footer-platform {
                    display: none;
                }
            }
        }

        .footer-sections-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .footer-section:last-child {
                text-align: right;
            }

            .footer-section:first-child {
                width: 40%;
            }

            .footer-platform-mobile {
                display: none;
                margin-top: 35px;
                width: 100%;
                text-align: left;
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
            }

            @media screen and (max-width: 768px) {
                .footer-platform-mobile {
                    display: block;
                }
            }
        }
    }

    .footer-item {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, .4);
        letter-spacing: 0.5px;
        margin-top: 40px;
        text-transform: uppercase;
        text-decoration: none;

        @media screen and (max-width: 768px) {
            & {
                margin-top: 25px;
                font-size: 10px;
            }
        }
    }

    .footer-item:hover {
        color: #fff;
    }

    .footer-footer {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 100px;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            & {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 30px;
                padding-bottom: 30px;
            }

            & div {
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }

        span:hover {
            opacity: 1;
        }

        .footer-ooo {
            font-size: 14px;
            letter-spacing: 0.5px;
            text-rendering: geometricPrecision;

            span {
                display: block;
                color: #fff;
                opacity: 0.3;
                transition: opacity 0.3s;
                margin-bottom: 30px !important;
            }

            .section-social {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .social-button {
                    width: 60px;
                    height: 60px;
                    background: rgba(10, 186, 181, 0.10);
                    border-radius: 5px;
                    margin-right: 15px;
                    position: relative;
                    text-decoration: none;
                    cursor: pointer;
                }
        
                .social-button svg {
                    position: relative;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 50%;
                }
            }
        }

        .footer-banks {
            opacity: 0.3;
            transition: opacity 0.3s;
        }
    
        .footer-banks:hover {
            opacity: 1;
        }
    
        .footer-companies {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white !important;
            
            a {
                opacity: 0.3;
                transition: opacity 0.3s;
            }
    
            a:hover {
                opacity: 1;
            }
        }
    }
}