<div class="header-wrapper">
    <div class="header-element">
        {{ title }}
    </div>
</div>
<div class="cards-carousel">
    
    <div class="cards-carousel__items">
        <drag-scroll
            [drag-scroll-y-disabled]="true"
            [ngClass]="{
                'drag-scroll': true
            }"
        >
        <div drag-scroll-item class="cards-carousel__item" *ngFor="let item of cardsData">
            <app-app-card-item
                [cardData]="item"
            ></app-app-card-item>
        </div>
        </drag-scroll>
    </div>
</div>
