<div class="paymnet-wrapper">
    <div class="payment-title">{{ langs.pagesWrapper.pay }}</div>
    <div class="payment-description">
        <p><b>{{ langs.pagesWrapper.paymentDescriptionP1 }} <a href="https://instagram.com/colebannit?igshid=YmMyMTA2M2Y=">{{ langs.pagesWrapper.paymentDescriptionA1 }}</a>. {{ langs.pagesWrapper.paymentDescriptionP2 }}</b></p>
        <p><b>{{ langs.pagesWrapper.paymentDescriptionP3 }}</b></p>
        <p>{{ langs.pagesWrapper.paymentDescriptionP4 }}</p>
    </div>
    <div class="payment-grid-wrapper">
        <div class="payment-grid">
            <div class="payment-section">
                <div class="image">
                    <img src="./assets/bank-transfer.png" alt="Bank Transfer Logo">
                </div>
                <p class="title">Bank Transfer</p>
                <p>{{ langs.pagesWrapper.avaluableSizes }}</p>   
                <!-- <p>Данные для перевода:</p>
                <div class="section-row">
                    <p>Имя</p>
                    <p>Roman Bokhonko</p>
                </div>
                <div class="section-row">
                    <p>Счет</p>
                    <p>LT54 3250 0479 2413 3086</p>
                </div>
                <div class="section-row">
                    <p>Банковская организация</p>
                    <p>REVOLT21</p>
                </div> -->
            </div>
            <div class="payment-section">
                <div class="image">
                    <img src="./assets/Koronapay.png" alt="Koronapay Logo">
                </div>
                <p class="title">KoronaPay</p>
                <p class="description">{{ langs.pagesWrapper.paymentKoronaPay }}</p>
                <div class="section-row">
                    <p>{{ langs.pagesWrapper.paymentCountry }}</p>
                    <p>{{ langs.pagesWrapper.paymentCountry2 }}</p>
                </div>
                <div class="section-row">
                    <p>First name</p>
                    <p>Vitaliy</p>
                </div>
                <div class="section-row">
                    <p>Last name</p>
                    <p>Borisov</p>
                </div>
                <div class="section-row">
                    <p>{{ langs.pagesWrapper.orderPhoneNumber }}</p>
                    <p>+7 900 477-97-60</p>
                </div>
                <p class="link">
                    <a href="https://koronapay.com/m/9">{{ langs.pagesWrapper.paymentLink1 }}</a>
                </p>
                <p class="link">
                    <a href="https://koronapay.com">{{ langs.pagesWrapper.paymentLink2 }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
