<div class="paymnet-wrapper">
    <div class="payment-title">Оплата</div>
    <div class="payment-description">
        <p><b>По вопросам и проблемам с оплатой Вы всегда можете обратиться в <a href="https://instagram.com/colebannit?igshid=YmMyMTA2M2Y=">поддержку</a>. Мы всегда будем рады вам помочь.</b></p>
        <p><b>После оплаты свяжитесь с администратором.</b></p>
        <p>Ваша обувь зарезервирована на 4 часа, по истечении данного срока обувь снова будет в продаже.</p>
    </div>
    <div class="payment-grid-wrapper">
        <div class="payment-grid">
            <div class="payment-section">
                <div class="image">
                    <img src="./assets/bank-transfer.png" alt="Bank Transfer Logo">
                </div>
                <p class="title">Bank Transfer</p>
                <p>Вы можите можете выбрать в приложении вашего банка банковский перевод указав данные реквизиты</p>   
                <p>Данные для перевода:</p>
                <div class="section-row">
                    <p>Имя</p>
                    <p>Roman Bokhonko</p>
                </div>
                <div class="section-row">
                    <p>Счет</p>
                    <p>LT54 3250 0479 2413 3086</p>
                </div>
                <div class="section-row">
                    <p>Банковская организация</p>
                    <p>REVOLT21</p>
                </div>
            </div>
            <div class="payment-section">
                <div class="image">
                    <img src="./assets/Koronapay.png" alt="Koronapay Logo">
                </div>
                <p class="title">KoronaPay</p>
                <p class="description">Для совершения платежа вам будет необходимо пройти верификацию личности для безопасности вашего платежа который вы можете отменить,это не займёт много времени.</p>
                <div class="section-row">
                    <p>Страна:</p>
                    <p>Россия</p>
                </div>
                <div class="section-row">
                    <p>First name:</p>
                    <p>Vitaliy</p>
                </div>
                <div class="section-row">
                    <p>Last name:</p>
                    <p>Borisov</p>
                </div>
                <div class="section-row">
                    <p>Номер телефона</p>
                    <p>+7 900 477-97-60</p>
                </div>
                <p class="link">
                    <a href="https://koronapay.com/m/9">Скачать приложение KoronaPay</a>
                </p>
                <p class="link">
                    <a href="https://koronapay.com">Сайт сервиса KoronaPay</a>
                </p>
            </div>
        </div>
    </div>
</div>
