    <div class="faq-header">
        {{ langs.pagesWrapper.contacts }}
    </div>
    <div class="text-wrapper">
        <div class="about-sailer">
            <p>{{ langs.pagesWrapper.aboutReseller }}</p>
            <div class="img-wrapper">
            </div>
        </div>
        <p>{{ langs.pagesWrapper.p1 }}</p> 
        <p>{{ langs.pagesWrapper.p2 }}</p> 
        <p>{{ langs.pagesWrapper.p3 }}</p>
        <p>{{ langs.pagesWrapper.p4 }}</p> 
        <p>{{ langs.pagesWrapper.p9 }}</p> 
        <p>{{ langs.pagesWrapper.p5 }}</p> 
        <p>{{ langs.pagesWrapper.p6 }}</p> 
        <p>{{ langs.pagesWrapper.p7 }}</p> 
        <p>{{ langs.pagesWrapper.p8 }}</p> 
    </div>
