    <div class="faq-header">
        {{ langs.pagesWrapper.contacts }}
    </div>
    <div class="text-wrapper">
        <p>Мы всегда на связи! Готовы ответить на ваши вопросы ежедневно с 11:00 до 22:00 (время московское).</p> 
        <p>Наша почта: support@outofstock.cc</p> 
        <p>Прием посылок: 5-ый Донской проезд 15с9, Москва. Время работы 14:00 - 18:00 ежедневно. Предварительно позвоните или напишите нам.</p>
        <p>Полное наименование организации: Общество с ограниченной ответственностью “АУТОФСТОК” / “OUTOFSTOCK” LLC</p> <p>Юридический адрес: г. Санкт-Петербург, ул. Бехтерева, д.2, Помещение Ж-04. Телефон +7 (495) 006-92-39</p> 
        <p>Адрес ПВЗ СДЭК: г. Москва, Ул. Озерная, 2к1 (Код ПВЗ: MSK362)</p> 
        <p>ОГРН: 1187847211892</p> 
        <p>ИНН: 7811702966</p> 
        <p>КПП: 781101001</p> 
    </div>
