.faq-header {
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    padding: 5%;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        & {
            font-size: 25px;
        }
    }
}

.text-wrapper {
    font-size: 13px;
    color: #000000;
    letter-spacing: 0px;
    line-height: 20px;
    margin-bottom: 110px;

    .about-sailer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

        p {
            width: 60%;
        }

        .img-wrapper {
            width: 200px;
            height: 200px;
            background-image: url('../../../assets/sailer.jpg');
            background-size: cover;
            background-position: top center;
            border-radius: 50%;
            img {
                width: 100%;
            }
        }

        @media screen and (max-width: 768px) {
            & {
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;

                p {
                    width: 90%;
                }
            }
        }
    }
}