    <div class="faq-header">
        {{ langs.pagesWrapper.contacts }}
    </div>
    <div class="text-wrapper">
        <div class="about-sailer">
            <p>{{ langs.pagesWrapper.aboutReseller }}</p>
            <div class="img-wrapper">
            </div>
        </div>
        <div class="links-grid">
            <div class="row">
                <a href="https://www.instagram.com/resell_point_/">
                    <div>
                        <img src="./assets/icon-instagram.svg" alt>
                        <span class="title">{{ langs.pagesWrapper.linkInst1 }}</span>
                    </div>
                </a>
                <a href="https://www.instagram.com/mokiseller/">
                    <div>
                        <img src="./assets/icon-instagram.svg" alt>
                        <span class="title">{{ langs.pagesWrapper.linkInst2 }}</span>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="https://www.instagram.com/mokiseller/">
                    <div>
                        <img src="./assets/icon-instagram.svg" alt>
                        <span class="title">{{ langs.pagesWrapper.linkInst4 }}</span>
                    </div>
                </a>
                <a href="https://www.instagram.com/colebannit_reserve/">
                    <div>
                        <img src="./assets/icon-instagram.svg" alt>
                        <span class="title">{{ langs.pagesWrapper.linkInst5 }}</span>
                    </div>
                </a>
            </div>
            <span class="title">{{ langs.pagesWrapper.linkInstVk3 }}</span>
            <div class="row">
                <div>
                    <a href="https://www.instagram.com/sneakerlookru/">
                        <img src="./assets/icon-instagram.svg" alt>
                    </a>
                    <a href="https://vk.com/sneakerlook">
                        <img src="./assets/vk.svg" alt>
                    </a>
                </div>
            </div>
        </div>
        <p>{{ langs.pagesWrapper.p1 }}</p> 
        <p>{{ langs.pagesWrapper.p2 }}</p> 
        <p>{{ langs.pagesWrapper.p3 }}</p>
        <p>{{ langs.pagesWrapper.p4 }}</p> 
        <p>{{ langs.pagesWrapper.p9 }}</p> 
        <p>{{ langs.pagesWrapper.p5 }}</p> 
        <p>{{ langs.pagesWrapper.p6 }}</p> 
        <p>{{ langs.pagesWrapper.p7 }}</p> 
        <p>{{ langs.pagesWrapper.p8 }}</p> 
    </div>
