<div class="reviews-wrapper">
    <div class="header">
        <div class="header-text">
            {{ langs.pagesWrapper.feedbackHeader }}
        </div>
    </div>
    <div class="reviews-text">
        <p>{{ langs.pagesWrapper.feedbackp1 }}</p>
        <p>{{ langs.pagesWrapper.feedbackp2 }}</p>
        <p>{{ langs.pagesWrapper.feedbackp3 }}<a href="mailto:resellpoint@list.ru">resellpoint@list.ru</a>{{ langs.pagesWrapper.feedbackp4 }}</p>
    </div>
    <div class="row">
        <div class="column">
            <img src="./assets/feedback1.jpg" alt>
            <img src="./assets/feedback2.jpg" alt>
            <img src="./assets/feedback3.jpg" alt>
            <img src="./assets/feedback4.jpg" alt>
            <img src="./assets/feedback5.jpg" alt>
        </div>
        <div class="column">
            <img src="./assets/feedback6.jpg" alt>
            <img src="./assets/feedback7.jpg" alt>
            <img src="./assets/feedback8.jpg" alt>
            <img src="./assets/feedback9.jpg" alt>
            <img src="./assets/feedback10.jpg" alt>
        </div>
        <div class="column">
            <img src="./assets/feedback11.jpg" alt>
            <img src="./assets/feedback12.jpg" alt>
            <img src="./assets/feedback13.jpg" alt>
            <img src="./assets/feedback14.jpg" alt>
            <img src="./assets/feedback15.jpg" alt>
            <img src="./assets/feedback21.jpg" alt>
        </div>
        <div class="column">
            <img src="./assets/feedback16.jpg" alt>
            <img src="./assets/feedback17.jpg" alt>
            <img src="./assets/feedback18.jpg" alt>
            <img src="./assets/feedback19.jpg" alt>
            <img src="./assets/feedback20.jpg" alt>
        </div>
    </div>
</div>
