<div class="main-banner">
    <img src="https://outofstock.cc/_nuxt/img/main_bg.b8d3260.jpg">
    <div class="main-gallery">
        <div class="main-banner__text">
            <div class="main-banner__title">
                <span>Самый безопасный маркетплейс</span>
            </div>
            <div class="main-banner__subtitle">
                <span>Оригинальная лимитированная обувь, одежда и аксессуары</span>
            </div>
            <div class="main-banner__button">
                <a href="#">смотреть каталог</a>
            </div>
        </div>
    </div>
</div>