<div class="faq-header">{{ langs.pagesWrapper.faqDocTitle }}</div> 
<div class="text-wrapper">
    <div class="oferta-link-wrapper"><a href="#/faq/documents" (click)="showAgent()" class="oferta-link">{{ langs.pagesWrapper.faqDocLink1 }}</a></div> 
    <div class="oferta-link-wrapper"><a href="#/faq/documents" (click)="showLicense()" class="oferta-link">{{ langs.pagesWrapper.faqDocLink2 }}</a></div>
    <div class="oferta-link-wrapper"><a href="#/faq/documents" (click)="showRules()" class="oferta-link">{{ langs.pagesWrapper.faqDocLink3 }}</a></div> 
    <div class="oferta-link-wrapper"><a href="#/faq/documents" (click)="showPolitics()" class="oferta-link">{{ langs.pagesWrapper.faqDocLink4 }}</a></div>
</div>
