<div class="faq-header">Оферта</div> 
<div class="text-wrapper">
    <div class="oferta-link-wrapper"><a href="https://outofstock.cc/docs/Agent.pdf" class="oferta-link">Агентский договор</a></div> 
    <div class="oferta-link-wrapper"><a href="https://outofstock.cc/docs/License.pdf" class="oferta-link">Лицензионный договор</a></div>
    <div class="oferta-link-wrapper"><a href="https://outofstock.cc/docs/Rules.pdf" class="oferta-link">Правила продажи</a></div> 
    <div class="oferta-link-wrapper"><a href="https://outofstock.cc/docs/Politics.pdf" class="oferta-link">Политика обработки персональных данных</a></div>
</div>
