<div class="faq-header">{{ langs.pagesWrapper.faqDocTitle }}</div> 
<div class="text-wrapper">
    <div class="oferta-link-wrapper"><a href="https://outofstock.cc/docs/Agent.pdf" class="oferta-link">{{ langs.pagesWrapper.faqDocLink1 }}</a></div> 
    <div class="oferta-link-wrapper"><a href="https://outofstock.cc/docs/License.pdf" class="oferta-link">{{ langs.pagesWrapper.faqDocLink2 }}</a></div>
    <div class="oferta-link-wrapper"><a href="https://outofstock.cc/docs/Rules.pdf" class="oferta-link">{{ langs.pagesWrapper.faqDocLink3 }}</a></div> 
    <div class="oferta-link-wrapper"><a href="https://outofstock.cc/docs/Politics.pdf" class="oferta-link">{{ langs.pagesWrapper.faqDocLink4 }}</a></div>
</div>
