.sections-selector {
    padding: 30px 5%;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    max-width: 100%;

    div {
        cursor: pointer;
        margin-right: 60px;
        text-transform: uppercase;
        // opacity: 0.3;
        font-size: 11px;
        letter-spacing: 1px;
        // transition: all .3s;
    }

    @media screen and (max-width: 768px) {
        & {
            padding: 20px;

            div {
                margin-right: 30px;
            }
        }
    }
}