<div class="faq-wrapper">
    <div class="faq">
        <div class="faq-menu">
            <a  
                [routerLink]="['contacts']"
                [routerLinkActive]="['active']"
            >{{ langs.pagesWrapper.mainContacts }}</a>
            <a 
                [routerLink]="['payment']"
                [routerLinkActive]="['active']"
            >{{ langs.pagesWrapper.pay }}</a>
            <a 
                [routerLink]="['delivery']"
                [routerLinkActive]="['active']"
            >{{ langs.pagesWrapper.deliveryAndReturns }}</a>
            <a 
                [routerLink]="['answers']"
                [routerLinkActive]="['active']"
            >{{ langs.pagesWrapper.faqTitle }}</a>
            <a 
                [routerLink]="['guarantee']"
                [routerLinkActive]="['active']"
            >{{ langs.pagesWrapper.mainGuarantee }}</a>
            <a 
                [routerLink]="['documents']"
                [routerLinkActive]="['active']"
            >{{ langs.pagesWrapper.mainDocuments }}</a>
            <div class="faq-menu-footer">
                <b>{{ langs.pagesWrapper.faqNotFindAns }}</b>
                <span>{{ langs.pagesWrapper.faqContactViaEmail }}</span>
                <a href="mailto:resellpoint@list.ru">resellpoint@list.ru</a>
            </div>
        </div>
        <div class="faq-block">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
