<div class="catalog-ap">
  <div class="filters-switch"
    (click)="isMobileFiltersVisible = !isMobileFiltersVisible"
  >
    <img src="../../../assets/settings.svg" alt="Settings">
    <!-- <span>Скрыть фильтры</span> 
    <img src="/_nuxt/img/arrow_up.cfcd5d4.svg" alt="Hide" class="filters-switch__icon"> -->
  </div>
</div>
<div class="filters-wrapper">
    <app-filters class="filter-desktop"
      [ngStyle]="{'display': isMobileFiltersVisible ? 'block' : 'none'}"
    ></app-filters>
    <div class="catalog-grid">
        <app-app-card-item 
          *ngFor="let item of items"
          [cardData]="item"
        ></app-app-card-item>
    </div>
</div>
<div class="fullpage-window"
  [ngStyle]="{'display': isMobileFiltersVisible ? 'block' : 'none'}"
>
  <div class="section-selector">
    <span>Фильтры</span>
    <span
      (click)="isMobileFiltersVisible = !isMobileFiltersVisible"
    >Скрыть фильтры X</span>
  </div>
  <app-filters class="filter-mobile"></app-filters>
</div>
