.filters-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px 5%;

    .catalog-grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 1px;
        grid-column-gap: 1px;
        border-left: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        width: 100%;
        min-height: 100%;
        font-size: 13px;
        text-transform: uppercase;
    }

    .filter-desktop {
        margin-right: 20px;
    }

    @media screen and (max-width: 768px) {
        .filter-desktop {
            display: none;
        }

        .catalog-grid {
            position: relative;
            display: grid;
            grid-row-gap: 1px;
            grid-column-gap: 1px;
            border-left: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            min-height: initial;
            font-size: 11px;
        }
    }
}


@media screen and (min-width: 769px) {
    .fullpage-window {
        display: none !important;
    }
}


@media screen and (max-width: 768px) {
    .fullpage-window {
        display: block;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        padding-bottom: 30px;
        overflow-y: scroll;
    }

    .section-selector {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: uppercase;
        padding: 20px;
        font-size: 11px;

        span:nth-child(1) {
            opacity: 0.3;
        }

        span:nth-child(2) {
            cursor: pointer;
        }
    }

    .filter-desktop {
        display: none !important;
    }
}

.catalog-ap {
    display: flex;
    justify-content: flex-end;
    padding: 30px 5% 0px 5%;

    .filters-switch {
        padding: 14px 10px;
        box-sizing: border-box;
        font-size: 12px;
        color: #000000;
        letter-spacing: 0;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
    }
}