<h1 mat-dialog-title>{{ langs.pagesWrapper.paymentAlertHeader }}</h1>
<div mat-dialog-content class="dialog-content">
    <p>{{ langs.pagesWrapper.paymentAlertP1 }}</p>
    <p>{{ langs.pagesWrapper.paymentAlertP2 }}</p>
    <p>{{ langs.pagesWrapper.paymentAlertP3 }}</p>
    <p>{{ langs.pagesWrapper.paymentAlertP4 }}</p>
    <p>{{ langs.pagesWrapper.paymentAlertP5 }} <a href="https://instagram.com/colebannit?igshid=YmMyMTA2M2Y=">{{ langs.pagesWrapper.paymentAlertA }}</a></p>
</div>
<div mat-dialog-actions class="dialog-actions">
    <button mat-dialog-close mat-button>OK</button>
</div>