<h1 mat-dialog-title>Важное объявление</h1>
<div mat-dialog-content class="dialog-content">
    <p>Дорогие друзья!</p>
    <p>Хотим вам сообщить о том, что безопасные сделки через систему «Vinted» на данный момент невозможны из-за нахождения наших складов на территории России. Мы также работаем в прежнем режиме, доставка по Европе работает в полном объёме.</p>
    <p>Ваши деньги будут в безопасности и ваш платёж будет защищен. Для дополнительных вопросов обращайтесь к администратору.</p>
</div>
<div mat-dialog-actions class="dialog-actions">
    <button mat-dialog-close mat-button>OK</button>
</div>