.dialog-content {
    font-size: 14px;
    max-width: 500px;

    a {
        text-decoration: none;
    }

    a:link {
        color: #0ABAB5;
    }

    a:visited {
        color: #0ABAB5;
    }
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;

    button {
        width: 100px;
        background-color: #0ABAB5;
        color: #fff;
    }
}